@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* UNIVERSAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

/* COLOR PALETTE */

:root {
  --color-primary: #64be91;
  --color-secondary: #99ff91;
}

/* TYPOGRAPHY */

html {
  font-size: 62.5%;
  font-family: "K2D", sans-serif;
  color: #fff;
}

header {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 5rem;
  font-family: "Karla", sans-serif;
  font-weight: 200;
  text-shadow: 0 0 20px black;
}

h2 {
  font-size: 4rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h4 {
  font-family: "Karla", sans-serif;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

p {
  font-weight: 100;
  max-width: 50ch;
  margin: 0 auto;
  font-size: 1.6rem;
}

.link {
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 6rem;
  }

  p {
    font-size: 3rem;
  }
}

/* FLEX */

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.justify--center {
  justify-content: center;
}

.justify--between {
  justify-content: space-between;
}

.align--center {
  align-items: center;
}

/* GRID */

.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center {
  justify-items: center;
}

.gap {
  gap: 2rem;
}

/* BLOCK */

.block {
  padding: 10rem 2rem;
}

.block--dark {
  background-color: #000;
}

.container,
.container--lg {
  margin: 0 auto;
}

.container {
  max-width: 1024px;
}

.container--lg {
  max-width: 1200px;
}

/* IMAGE */

.img {
  width: 100%;
  object-fit: cover;
}

.img--logo {
  max-width: 40px;
  justify-self: flex-end;
}

.img--border {
  max-width: 50%;
}

.img--showcase {
  max-width: 120px;
}

.logo__link {
  text-align: right;
  animation: fade 3s ease;
}

@media screen and (min-width: 768px) {
  .img--logo {
    max-width: 60px;
  }
}

/* ICON */

.icon--back {
  color: #fff;
  font-size: 2rem;
}

/* BUTTON */

.btn {
  border: 0;
  outline: 0;
  background: none;
  right: 0;
  display: block;
  position: relative;
  cursor: pointer;
}

.btn--circle {
  border: 6px solid #fff;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}

.btn::before {
  content: "";
  position: absolute;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 17px;
  padding: 1rem 5rem;
  box-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
}

/* NAVBAR */

.nav__bar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  padding: 1rem 5rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.604),
    rgba(0, 0, 0, 0)
  );
}

/* MENU */

.menu {
  background-color: #000;
  z-index: -1;
}

.menu__hero {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.menu__hero::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("assets/horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  animation: fade-in 3s ease;
}

.menu__hero h1 {
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
}

.menu__heading {
  animation: zoomHeader 5s ease;
}

.header__description {
  position: absolute;
  bottom: 0;
  padding: 5rem;
  color: hsl(0, 0%, 74%);
  font-family: "K2D", serif;
  font-weight: 100;
  font-size: 2.5rem;
  animation: fade-in 3s ease;
  text-align: center;
}

.menu__container {
  position: absolute;
  margin: 10rem;
  right: 0;
  animation: fade-in 3s ease;
  cursor: pointer;
  left: 0;
}

.menu__start {
  margin-bottom: 2rem;
  display: inline-block;
  font-size: 2.5rem;
  color: #fff;
  font-family: "K2D", serif;
  font-weight: 100;
  letter-spacing: 3px;
}

.menu__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
  animation: echo 3s linear infinite;
}

@media screen and (min-width: 768px) {
  .menu__hero {
    padding: 10rem;
    justify-content: start;
  }

  .menu__hero h1 {
    text-align: left;
  }

  .header__description {
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 0 0 6rem 10rem;
  }

  .menu__container {
    bottom: 0;
    left: auto;
  }
}

@media screen and (max-height: 768px) {
  .menu__container {
    bottom: 0;
    left: auto;
  }

  .menu__hero {
    padding: 10rem;
    justify-content: start;
  }

  .menu__hero h1 {
    text-align: left;
  }

  .header__description {
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 0 0 6rem 10rem;
  }

  .menu__container {
    bottom: 0;
    left: auto;
  }
}

/* ANIMATION */

@keyframes echo {
  20% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(3);
  }

  30% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }
}

@keyframes zoomHeader {
  0% {
    font-size: 15vw;
  }

  5% {
    font-size: 15vw;
  }
}

/* INTRODUCTION */

.introduction {
  background: url("assets/home-intro.jpg");
  background-size: cover;
  padding-bottom: 70vh;
}

.introduction__container {
  background-color: rgb(22, 22, 22, 0.69);
  border-radius: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  padding: 1.5rem;
  color: #fff;
  text-align: center;
  line-height: 2;
}

.border__reverse {
  rotate: 180deg;
}

@media screen and (min-width: 500px) {
  .introduction__container {
    max-width: 400px;
    padding: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .introduction__container {
    max-width: 700px;
    padding: 5rem;
  }
}

/* DISCOVER */

.discover {
  background: url("assets/background-curve.png");
  margin-top: -100vh;
  background-size: cover;
}

.discover__container {
  margin-top: 40vh;
}

.discover__header {
  position: relative;
  z-index: 1;
}

.discover__header::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: 100%;
  height: 200px;
  background-color: var(--color-primary);
  border-radius: 100%;
  filter: blur(150px);
  z-index: -1;
}

/* VIDEO */

.video__border {
  background-color: rgb(100, 190, 145, 0.5);
  padding: 0.2rem;
  border-radius: 20px;
  border: 1px solid rgb(239, 249, 231, 0.5);
  box-shadow: 0 0 1000px var(--color-primary);
  position: relative;
}

.video {
  width: 100%;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .video__border {
    padding: 2rem;
    border-radius: 40px;
  }

  .video {
    border-radius: 25px;
  }
}

/* SHOWCASE */

.showcase {
  margin-top: -15vh;
}

.showcase__container {
  border-top: 1px solid rgb(255, 255, 255, 0.2);
  padding-top: 5rem;
  position: relative;
  z-index: 1;
  grid-template-columns: 1fr 450px;
}

.showcase__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: 100%;
  height: 200px;
  background-color: #fff;
  filter: blur(300px);
  z-index: -1;
}

.showcase__box {
  box-shadow: 0 0 50px rgb(186, 186, 186, 0.25);
  border-radius: 25px;
  margin-bottom: 2rem;
}

.showcase__box:nth-child(2) {
  padding: 10rem 0;
}

.showcase__view {
  background: url("assets/showcase-view.png");
  background-size: cover;
}

.showcase__btn {
  transition: 0.3s ease;
}

.showcase__btn:hover {
  background-color: var(--color-secondary);
  color: #34654c;
}

@media screen and (min-width: 1024px) {
  .showcase__container {
    display: grid;
  }

  .showcase__box {
    padding: 0;
  }
}

/* OVERVIEW */

.overview {
  margin-top: -15vh;
}

.overview__content {
  margin-bottom: 5rem;
}

.overview__heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
}

.overview__details {
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  padding: 2rem;
}

.overview__category,
.overview__output {
  font-size: 1.6rem;
}

.overview__category {
  font-weight: 100;
  text-transform: uppercase;
}

.overview__output {
  font-weight: 700;
  text-align: right;
}

.overview__image {
  position: relative;
  z-index: 1;
  justify-self: center;
}

.overview__image::after {
  content: "";
  position: absolute;
  left: -35%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  filter: blur(400px);
  z-index: -1;
  background: linear-gradient(to bottom, #d9d9d9, var(--color-secondary));
}

.image__gradient {
  background-color: rgb(113, 113, 113, 0.1);
  width: 100%;
  top: 100%;
  left: -50%;
  transform: translateX(50%);
  height: 100px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  filter: blur(40px);
}

.image__shadow {
  width: 200px;
  height: 50px;
  background-color: rgb(0, 0, 0, 50%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15%;
  border-radius: 100%;
  filter: blur(20px);
}

@media screen and (min-width: 500px) {
  .overview__image::after {
    width: 500px;
  }
}

@media screen and (min-width: 1350px) {
  .overview__container {
    display: grid;
  }
}

/* WORKS */

.works {
  background-image: url("assets/work-background.jpg");
  background-size: cover;
  flex-direction: column;
}

.works__container {
  background-color: transparent;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  background-size: 30px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  height: 250px;
  align-self: center;
  color: #000;
  padding: 2rem 3.5rem;
  position: relative;
  order: -1;
  margin: 2rem 0;
}

.works__image {
  max-width: 500px;
  margin-right: 20%;
}

.works__author {
  font-size: 1.6rem;
}

.work__details {
  position: absolute;
  bottom: 20%;
}

.work__detail {
  font-size: 3rem;
  font-weight: 400;
  display: block;
}

@media screen and (min-width: 1500px) {
  .works {
    flex-direction: row;
  }

  .works__container {
    order: 1;
  }
}

/* FOOTER */

footer {
  background: linear-gradient(to bottom, rgb(45, 45, 45), black);
}

.footer__grid {
  margin-bottom: 5rem;
}

.footer__flex {
  margin-bottom: 5rem;
}

.footer__heading {
  font-family: "Karla", sans-serif;
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
  margin-bottom: 2rem;
}

.footer__author {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__container img {
  min-width: 100px;
}

.footer__links {
  margin-top: 2rem;
}

.footer__list {
  list-style: none;
}

.footer__link {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255, 0.6);
  font-family: "Karla", sans-serif;
  font-weight: 300;
  display: block;
  padding-bottom: 1rem;
  transition: 0.3s ease;
}

.footer__link:hover {
  color: var(--color-primary);
  text-shadow: 0 0 20px var(--color-primary);
  border-radius: 100%;
}

.copyright {
  font-size: 1.6rem;
  font-style: italic;
  color: rgb(255, 255, 255, 0.5);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__heading {
    font-size: 8rem;
  }

  .footer__container {
    flex-direction: row;
  }

  .footer__container img {
    min-width: 200px;
  }

  .footer__author {
    transform: translateX(50%);
  }
}

@media screen and (min-width: 1024px) {
  .footer__grid {
    display: grid;
  }
}
